#mainContainerContact{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}
#contactForm{
    display: flex;
    flex-direction: column;
    gap: 13px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 11vh;
    height: 60%;
    width: 60%;
    background-color: #000;
    border-radius: 20px;
    margin: 0;
    border: 0;
}
#preface{
    /* background-color: antiquewhite; */
    font-size: x-large;
    font-weight: 600;
    padding: 8vh 0 8vh 0;
    margin: 0;
    border: 0;
    color: white;
}
#contactSubmit{
    /* width: 150px;
    margin-top: 13px; */
    padding: 13px 50px;
    border-radius: 40px;
    margin: 3vh 0;
    border: 0;
    font-size: medium;
    background-color: #f59e0b;
    color: white;
}
#contactSubmit:active{
    border: 0;
    background-color:#f6b139;
}

.textInput{
    width: 29vw;
    padding: 10px;
    border-radius: 100px;
    border: 0;
    background-color: white;
    color: black;
}

#messageBox{
    width: 29vw;
    height: 8vh;
    border-radius: 20px;
    background-color: white;
    color: black;
    border: 0;
    text-wrap: wrap;
    padding: 10px;
}

label{
    margin-top: 13px;
}

#contactFormTitle{
    font-size: xx-large;
    font-weight: 600;
    color: #f59e0b;
}

@media (max-width: 760px){
    .textInput, #messageBox{
        width: 70%;
    }
    #contactForm{
        /* margin-top: 5vh; */
        min-width: 325px;
    }
}